@using KinoAfisha.Models
@using WebAppAspNetMvcCodeFirst.Extensions
@model List<Kino>


    <h1><b>Афиша</b></h1>

@Html.ActionLink("Добавить запись", "Create", "Kinos")

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Обложка</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Место показа</th>
            <th>Дата сеанса</th>
            <th>Время сеанса</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kino in Model)
        {
        <tr>


            <td><img src="/Films/GetImage/@kino.Id" style="max-width: 100px; max-height: 200px;" /></td>

            <td>
                <a href="/Kinos/Detail/@kino.Id">@kino.Description.Name</a>

            </td>
            <td>
                @string.Join(", ", kino.Films.Select(x => $"{x.NameFilm}"))
            </td>
            <td>@kino.Price</td>

            <td> @string.Join(", ", kino.Cinemas.Select(x => $"{x.CinemaPlace}"))</td>
            <td>
                @(kino.NextArrivalDate.HasValue ? kino.NextArrivalDate.Value.ToString("ddd, dd-MM-yyyy") : "")
            </td>
            <td>
                @(kino.KinoTime.HasValue ? kino.KinoTime.Value.ToString("HH:mm") : "")
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "Kinos", new { id = kino.Id }, new { })
                @Html.ActionLink("Изменить", "Edit", "Kinos", new { id = kino.Id }, new { })
            </td>
        </tr>
        }
    </tbody>
</table>
<footer>
    <dl>
        <dt>Дополнительная информация:</dt>
    </dl>
    <ol type="I">
        <li><h6><i>Данная работа сделана в ознакомительных целях</i></h6></li>
        <li><h6><i>Все расписания вымышлены, а совпадения случайны</i></h6></li>
    </ol>

</footer>