@using KinoAfisha.Models
@using WebAppAspNetMvcCodeFirst.Models
@using WebAppAspNetMvcCodeFirst.Extensions
@model List<Cinema>

    <h1><b>Кинотеатры</b></h1>

@Html.ActionLink("Добавить запись", "Create", "Cinemas")

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Место показа</th>
            <th>Количество мест</th>
            <th>Наличие QR кода</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cinema in Model)
        {
            <tr>
                <td>@cinema.CinemaPlace</td>
                <td>@cinema.NumberOfBilets</td>
                <td>
                    @cinema.QRcode.GetDisplayValue()
                </td>

                <td>
                    @Html.ActionLink("Удалить", "Delete", "Cinemas", new { id = cinema.Id }, new { })
                    @Html.ActionLink("Изменить", "Edit", "Cinemas", new { id = cinema.Id }, new { })
                </td>
            </tr>
        }
    </tbody>
</table>
